__pycache__/
*.py[cod]
*$py.class

# Logs
logs/
*.log

# Output reports
output/
*.json
*.html
*.csv

# Virtual environment
venv/
ENV/
env/
.venv/

# VS Code settings
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Python test cache
.pytest_cache/

# JetBrains IDEs
.idea/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Git
.gitignore